.calc-app{
  margin: 0 auto;
  margin-top: 40px;
  width: 250px;
  text-align: center;
  padding: 20px;
  background-color: rgb(245, 246, 248);
  border: none;
  border-style: ridge;
  
}

.keypad{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-auto-rows: minmax(60px,auto);
}

input{
  height: 60px;
  width: 242px;
  font-size: 20px;
}

#result{
  font-size: 25px;
  grid-column: 4;
  grid-row: 2/6;
}

button{
  background-color: beige;
  margin: 3px;
  border: none;
  border-style: ridge;
}

#result{
  background-color: rgb(41, 126, 165);
}